@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

body{
background-color: rgb(240, 200, 127)!important;
font-family: 'Ubuntu',sans-serif;
}

.imgstyle{
    width: 200px;
    height: 200px;
}
